#phones{"data-vendor" => @vendor.url}
  .row
    .span12
      %ul.breadcrumb
        %li
          = link_to t("all_vendors"), root_path
          %span.divider= "/"
        %li.active= @vendor.name

  .row
    .span12
      = render "shared/pager/pager"

  .row
    .span12
      %ul.phones.thumbnails
        - @phones.each do |phone|
          %li.span3{"data-id" => phone.id}
            = link_to phone_path(phone), class: "thumbnail" do
              .img-wrap
                %img{src: "#{root_path}img/#{phone.image}", alt: ""}
              %h5= phone.name

:javascript
  var phones = new PhoneCatalog.Collections.Phones({per_page: 8, vendor_id: #{@vendor.id}});
  phones.reset(#{@phones.to_json});
  PhoneCatalog.Preloaded.Phones = phones;