.pagination
  %ul
    - if collection.total_pages > 1
      - if collection.current_page == 1
        %li.disabled
          %a
            &laquo;
      - else
        %li
          = link_to_page(collection.current_page - 1, "&laquo;")

      - if collection.total_pages <= 5
        - (1..collection.total_pages).each do |p|
          = render "shared/pager/page_number", page: p, current_page: collection.current_page
      - else
        = render "shared/pager/page_number", page: 1, current_page: collection.current_page

        - if [1, 2, 3, collection.total_pages - 1, collection.total_pages].include?(collection.current_page)
          = render "shared/pager/page_number", page: 2, current_page: collection.current_page

        - if [1, 2, collection.total_pages - 1, collection.total_pages].include?(collection.current_page)
          = render "shared/pager/gap"
        - else
          - if collection.current_page - 1 > 2
            = render "shared/pager/gap"
          = render "shared/pager/page_number", page: collection.current_page, current_page: collection.current_page
          - if collection.total_pages - collection.current_page > 2
            = render "shared/pager/gap"

        - if [1, 2, collection.total_pages - 2, collection.total_pages - 1, collection.total_pages].include?(collection.current_page)
          = render "shared/pager/page_number", page: collection.total_pages - 1, current_page: collection.current_page

        = render "shared/pager/page_number", page: collection.total_pages, current_page: collection.current_page

      - if collection.current_page == collection.total_pages
        %li.disabled
          %a
            &raquo;
      - else
        %li
          = link_to_page(collection.current_page + 1, "&raquo;")