!!!
%html
  %head
    %title PhoneCatalog
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  :javascript
    I18n.defaultLocale = "#{I18n.default_locale}";
    I18n.locale = "#{I18n.locale}";
  %body{"data-root" => relative_url_root}
    = render "shared/navigation", current_page: @current_page
    #main.container
      = yield
