<!DOCTYPE html>
<html>
<head>
  <title>PhoneCatalog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<body data-root="<%= root_path %>">

<%= yield %>

</body>
</html>
